body
{
    background-image: url(../images/SpaceBackground.jpg);
    overflow: hidden;
}

#box
{
    width: 10%;
    position: absolute;
    left: 50%;
    bottom: 0;
}
#rocket
{
    width: 30%;
}
#bullets
{
    width: 100%;
}

.bullet{
    position: absolute;
    bottom: 5%;
    left: 50%;
}


#bullets img
{
    width: 2%;
}

#chicken img
{
    position: absolute;
    width: 5% ;
}

#score
{
    color: white;
    font-size: 20px;
    text-align: right;
}

#gameOver
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 50px;
}

#winner
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: white;
    color: black;
    text-align: center;
    font-size: 50px;
}

#winner button
{
    background-color: black;
    color: white;
}
